@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway&display=swap');

body{
    font-family: 'Poppins', sans-serif; 
}

/* menu bar  */

nav{
    display: flex;
    background-color: #2D25A0;
    align-items: center;
    justify-content: space-between;

}
.pages{
    display: flex;
    grid-template-columns: repeat(5 1fr);
    grid-gap: 36px;
    padding: 52px 156px 0px;
}

.menu-link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    
}
.menu-login{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: 0px;
    font-size: 16px;
    color: #fff;
}
.fa-arrow-right-to-bracket{
    color: #fff;
    padding-right: 8px;
}
.login{
    padding-right: 124px;
}
/* menu bar end  */

/* head section  */
.head{
    height: 677px;
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 102px;
}
.head-left-text h1{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin: 0px;
    padding-bottom: 27px;
    line-height: 80px;
    padding-top: 131px;

}
#head-button{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: 0px;
    font-size: 16px;
    color: #fff;
    
}
.fa-arrow-right{
    
    color: #fff;
    padding-left: 8px;
}

.head-right img{
    width: 556.01px;
    height: 438px;
    
}
.head-left{
    padding-left: 156px;
}

/* head section end  */